<footer>
        <div class="container-fluid footer-pmp">
            <div class="container">
                <a href="/" class="logo-index">
                    <img src="/images/logo-f-rojo-b.svg" alt="">
                </a>
                <p>Plataforma Municipal del Perú</p>
                <p>Universidad Nacional de Ingeniería - Powered by Gianfranco Manrique</p>
            </div>

        </div>
</footer>