<div class="banner">
    <div class="container">
        <a href="/" class="logo-index">
            <img src="/images/logo-f-azul.svg" alt="">
        </a>
    </div>
    <form action="/Buscar" method="post" id="frmBuscador">
        <input  class="form-control" type="text" id="txtBuscador" name="palabras" placeholder="Busca tu municipio">
        <i id="lupa" class="fa fa-search" aria-hidden="true">
        </i>
    </form>
</div>