<div class="container">
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<ul class="nav navbar-nav">			
			<li><a href="/Municipio/Listar" class="navbar-brand waves-effect waves-light"><b>MUNICIPIOS</b></a></li>			
		</ul>
		<ul class="nav navbar-nav">			
			<li><a href="/Usuario/Salir" class="navbar-brand waves-effect waves-light"><b>SALIR</b></a></li>			
		</ul>	
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#" class="navbar-brand waves-effect waves-light"><b>
			ADMINISTRADOR DEL PORTAL</b></a></li>	
		</ul>
	</div>	
</nav>
</div>
<style>
a {    
    color: white;
} 
</style>